* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: rgb(36, 33, 33);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #181818;
  border-bottom: #070707ef 0.2rem solid;
  box-shadow: rgba(169, 182, 169, 0.226) 0px 5px 15px;
  margin-bottom: 5rem;
}

.title {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #fff;
}

.title img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.title h1 {
  font-size: 1.5rem;
}

/* NavBar*/

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link a {
  text-decoration: none;
  font-family: "Protest Guerrilla", sans-serif;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.link a:hover {
  border-bottom: #ffde59 0.1rem solid;
}

/* Fim do NavBar*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoHome {
  width: 70%;
  border-radius: 1.5rem;
}

.infoHome img {
  width: 100%;
  border-radius: 0.5rem;
}

.downloadPlanilha {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #181818;
}

.downloadPlanilha h2 {
  font-family: "Protest Guerrilla", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
}

.downloadPlanilha p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.2rem;
  color: #ffde59;
}

.botaoDownload {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.botaoDownload h3 {
  margin: 1rem 0rem 1rem 0rem;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.botaoDownload a {
  text-decoration: none;
}

.buttonRendimento {
  background-color: #174902;
  font-family: "Ubuntu", sans-serif;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.buttonRendimento:hover,
.buttonRendimento:focus {
  background-color: #298901;
}

.buttonRendimento a {
  color: #fff;
}

.content {
  margin: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333333;
  border-radius: 0.5rem;
  box-shadow: rgba(169, 182, 169, 0.226) 0px 5px 15px;
}

.content input {
  border-radius: 0.5rem;
}

.content table {
  border-radius: 0.5rem;
  color: #fff;
  width: 60rem;
}

.content tbody {
  color: yellow;
}

.result {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
  height: 100%;
  background-color: #333333;
  border-radius: 0.5rem;
  box-shadow: rgba(169, 182, 169, 0.226) 0px 5px 15px;
}

.result h2 {
  display: flex;
  justify-content: center;
  color: #fff;
}

#employeePerformance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
  color: yellow;
}

#employeePerformance p {
  font-size: 1.2rem;
}

/*Footer*/

footer {
  display: flex;
  margin-top: 4rem;
  background-image: url(img/imgFooter.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.creators {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  border-right: #ffde5975 0.3px solid;
}

.creators h2 {
  color: #ffde59;
}

.names {
  width: 100%;
  display: flex;
  margin: 0.7rem 0rem 0.7rem 0rem;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.names img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 0.6rem 0rem 0rem;
}

.linksFooter {
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.linksFooter h3 {
  color: #ffde59;
}

.linksFooter a {
  margin: 0.7rem 0rem 0.7rem 0rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

/* Fim da Footer*/

/* Responsive area*/

@media (max-width: 450px) {
  .title {
    width: 50%;
  }

  .title h1 {
    font-size: 1rem;
  }

  .title img {
    margin-right: 0.5rem;
  }

  .infoHome {
    width: 95%;
    border-radius: 1.5rem;
  }

  .infoHome img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .downloadPlanilha p {
    font-size: 1rem;
  }

  .downloadPlanilha h2 {
    font-size: 1rem;
  }

  .botaoDownload h3 {
    font-size: 1rem;
  }

  .buttonRendimento {
    height: 100%;
  }

  .content {
    width: 90%;
  }

  .content table {
    width: 100%;
    font-size: 0.8rem;
  }

  .result {
    width: 90%;
    font-size: 0.8rem;
  }

  #employeePerformance p {
    font-size: 0.9rem;
  }

  .creators h2 {
    font-size: 1rem;
  }

  .creators p {
    font-size: 0.8rem;
  }

  .linksFooter h3 {
    font-size: 1rem;
  }

  .linksFooter a {
    font-size: 1rem;
  }
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #181818;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
