* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 33, 33);
  font-family: "Ubuntu", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #181818;
  border-bottom: #070707ef 0.2rem solid;
  box-shadow: rgba(169, 182, 169, 0.226) 0px 5px 15px;
  border-radius: 0rem 0rem 0.9rem 0.9em;
  margin-bottom: 5rem;
}

.title {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #fff;
}

.title img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.title h1 {
  font-size: 1.5rem;
}

.link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link a {
  text-decoration: none;
  font-family: "Protest Guerrilla", sans-serif;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.link a:hover {
  border-bottom: #ffde59 0.1rem solid;
}

.infoSistem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sobreProjeto {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.6px solid #3bc203;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 0.4rem;
}

.infoSistem h1 {
  font-weight: 700;
  font-size: 1.5rem;
  word-break: break-all;
  color: #ffde59;
}

.infoSistem p {
  color: #fff;
  font-size: 1.3rem;
  width: 50%;
  margin: 1rem 0rem 1rem 0rem;
}

.creators {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.6px solid #3bc203;
  border-radius: 0.4rem;
}

.creators h2 {
  color: #ffde59;
}

.names {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.6px solid #3bc203;
  border-radius: 0.4rem;
  margin: 1rem 0rem 1rem 0rem;
  color: #fff;
}

.names img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 0.6rem 0rem 0rem;
}

footer {
  box-shadow: rgba(169, 182, 169, 0.5) 0px 5px 15px;
  border-radius: 0.9rem 0.9rem 0rem 0em;
  background-color: #181818;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 1rem;
  margin-top: 2rem;
}
